@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-slow {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::selection {
  color: white;
  background: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #A4BC92;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #57654c;
}